<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>17645 Team A - Homepage</title>
</head>
<link href="/static/css/main.css" rel="stylesheet">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Yatra+One&display=swap" rel="stylesheet">
<body>
<div class="jumbopic jumbotron">
    <h1 class="jumbText text-center" style="font-family: Yatra One">Hello 17645 Team A</h1><br>
    <h4 class="textCenter text-center" style="font-family: Yatra One"><a href="monitor/">Click here to Monitor the Recommendation Status</a></h4>
</div>
</body>
</html>